%ul.boxes
  %li{'data-graph_source' => '/api/graphs/e/day'}
    .inner.usage
      %h2
        %i.fa.fa-bolt
        Electricity
      .meter
        %span.number= @electricity
        %span.notation w/h

      .graph{'color-from' =>'#7bdb00', 'color-to' => '#00aa22'}

  %li{'data-graph_source' => '/api/graphs/g/day'}
    .inner.usage
      %h2
        %i.fa.fa-fire
        Gas
      .meter
        %span.number= @gas
        %span.notation m3

      .graph{'color-from' =>'#ff7106', 'color-to' => '#c71c13'}

  %li{'data-graph_source' => '/api/graphs/w/day'}
    .inner.usage
      %h2
        %i.fa.fa-tint
        Water
      .meter
        %span.number= @gas
        %span.notation L

      .graph{'color-from' =>'#2f97f8', 'color-to' => '#002cc0'}

  %li.double
    .inner.departures
      %h2
        %i.fa.fa-train
        Departures
      %ul
        - @departures.each do |departure|
          %li
            %span.time-and-platform{:class => departure.delay_text.present? ? 'delayed' : 'on-time'}
              = departure.departure_time.strftime("%H:%M")
              %span.platform= departure.platform
            %span.destination= departure.destination
            %small
              = departure.route
            - if departure.delay_text.present?
              %small.delayed (#{departure.delay_text})



  - @devices.each do |device|
    %li
      .inner.device
        %h2
          %i.fa{:class => "fa-#{device.icon}"}
          = device.kind
        %h3
          = device.name
        .switches
          .toggle
            %a.on{:href => "/api/devices/#{device.id}/on"} On
            %a.off{:href => "/api/devices/#{device.id}/off"} Off

  %li.double{'data-graph_source' => '/api/rainfall'}
    .inner.weather
      %h2
        %i.fa.fa-sun-o
        Weather

      %ul.forecast
        %li.current
          %h3.small Currently
          %div.number
            = @forecast['currently']['temperature'].round
            %span.small &deg;
        - @forecast['daily']['data'][0..2].each do |day|
          %li
            %h3.small= Time.at(day['time']).strftime('%A')
            %div.number
              #{day['temperatureMin'].round} - #{day['temperatureMax'].round}
              %span.small &deg;

      .graph{'color-from' =>'#2c3a8b', 'color-to' => '#f07cb5'}


